.background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(253, 253, 146);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  flex-direction: column;

  .heading {
    font-size: 5rem;
    margin: 0;
  }

  .body {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
